@model IEnumerable<NbaEcommerce.ViewModels.ViewProdottoViewModel>

    @{
    ViewData["Title"] = "Index";
    }

    <style>
        .nav-item .active{
            border-bottom:2px solid #007bff;
        }
    </style>

    <div class="row mt-2">
        <div class="col-6">
            <h3><strong>Catalogo online</strong></h3>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-3">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body">
                    <form action="IndexCliente" method="post" class="mt-3" id="test">
                        <div class="accordion" id="accordionExample">
                            @foreach (NbaEcommerce.Models.Marchio marchio in ViewBag.marchi)
                            {
                            <button class="btn btn-default col-12" type="button" data-toggle="collapse" data-target="@String.Format(" #{0}",@marchio.Descrizione)" aria-expanded="true" aria-controls="@String.Format(" #{0}",@marchio.Descrizione)">
                                <div class="row border-bottom p-3">
                                    <div class="col-6">
                                        @marchio.Descrizione
                                    </div>
                                    <div class="col-6">
                                        <i class="fas fa-chevron-right float-right"></i>
                                    </div>
                                </div>
                            </button>

                            <div id="@marchio.Descrizione" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    @{
                                    List<NbaEcommerce.Models.Dispositivo>
                                        dispositivi = ((List<NbaEcommerce.Models.Dispositivo>
                                            )ViewBag.dispositivi).Where(x => x.IdMarchio == marchio.Id).ToList();

                                            foreach (NbaEcommerce.Models.Dispositivo item in dispositivi)
                                            {
                                            <a class="btn btn-default col-12" href="#">@item.Descrizione</a>
                                            }

                                            }
                                </div>
                            </div>
                            }
                        </div>
                    </form>

                    @*<form action="IndexCliente" method="post" class="mt-3" id="test">
                        <h6><small class="text-muted">Categoria</small></h6>
                        <hr />
                        <div class="form-group ml-4">
                            @foreach (NbaEcommerce.Models.Categoria categoria in ViewBag.categorie)
                            {
                            <div class="form-check">
                                <input class="form-check-input gridCheck" type="checkbox" id="gridCheck" @(((String[])ViewBag.categorieSelezionate).Contains(categoria.Id.ToString()) ? "checked" : "" ) data-id="@categoria.Id" onchange="cambiaListaCategorie()">
                                <label class="form-check-label" for="gridCheck">
                                    @categoria.Descrizione
                                </label>
                            </div>
                            }
                        </div>

                        <h6><small class="text-muted">Marchio</small></h6>
                        <hr />
                        <div class="form-group ml-4">
                            @foreach (NbaEcommerce.Models.Marchio marchio in ViewBag.marchi)
                            {
                            <div class="form-check">
                                <input class="form-check-input gridCheck2" type="checkbox" id="gridCheck2" @(((String[])ViewBag.marchiSelezionati).Contains(marchio.Id.ToString()) ? "checked" : "" ) data-id="@marchio.Id" onchange="cambiaListaMarchi()">
                                <label class="form-check-label" for="gridCheck">
                                    @marchio.Descrizione
                                </label>
                            </div>
                            }
                        </div>

                        <h6><small class="text-muted">Dispositivi</small></h6>
                        <hr />
                        <div class="form-group ml-4">
                            @foreach (NbaEcommerce.Models.Dispositivo dispositivo in ViewBag.dispositivi)
                            {
                            <div class="form-check">
                                <input class="form-check-input gridCheck2" type="checkbox" id="gridCheck2" @(((String[])ViewBag.dispositiviSelezionati).Contains(dispositivo.Id.ToString()) ? "checked" : "" ) data-id="@dispositivo.Id" onchange="cambiaListaDispositivi()">
                                <label class="form-check-label" for="gridCheck">
                                    @dispositivo.Descrizione
                                </label>
                            </div>
                            }
                        </div>

                        <h6><small class="text-muted">Prezzo massimo</small></h6>
                        <hr />
                        <div class="form-group text-center">
                            <label id="lblRange" for="formControlRange">100€</label>
                            <input name="maxPrezzo" type="range" min="0" max="200" value="100" class="form-control-range" id="formControlRange" oninput="document.getElementById('lblRange').innerHTML = this.value + '€';">
                        </div>

                        <input type="text" id="listaMarchi" name="listaMarchi" value="@(String.Join(" ;",(String[])ViewBag.marchiSelezionati))" style="display:none" />
                        <input type="text" id="listaCategorie" name="listaCategorie" value="@(String.Join(" ;",(String[])ViewBag.categorieSelezionate))" style="display:none" />
                        <input type="text" id="listaDispositivi" name="listaDispositivi" value="@(String.Join(" ;",(String[])ViewBag.dispositiviSelezionati))" style="display:none" />

                        <input type="submit" value="Salva" style="display:none" />
                    </form>*@
                </div>
            </div>
        </div>
        <div class="col-sm-9 row">
            <div class="col-12 card border-left-primary shadow mb-4 " style="height:80px">
                <div class="card-body">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link btn-link active text-dark" href="#">Schermi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-link text-dark" href="#">Batterie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-link text-dark" href="#">Cavi</a>
                        </li>
                    </ul>
                </div>
            </div>



            @foreach (NbaEcommerce.ViewModels.ViewProdottoViewModel prodotto in Model)
            {
            var base64 = Convert.ToBase64String(prodotto.Immagine);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <div class="card ml-3 mb-3 shadow" style="width: 13rem;max-height:400px">
                <div style="height:200px;">
                    <img src="@imgSrc" style="cursor:pointer;" class="img-fluid" onclick="@string.Format(" $('#exampleModalCenter-{0}').modal('show');",prodotto.Id)" />
                </div>
                <div class="card-body text-center" style="cursor:pointer;" onclick="@string.Format(" $('#exampleModalCenter-{0}').modal('show');",prodotto.Id)">
                    <h6 class="card-title">@prodotto.Titolo</h6>

                    <h5><strong class="ml-2"> @prodotto.PrezzoVendita €</strong></h5>
                </div>
                <div class="card-footer">
                    <button class="btn btn-xs btn-primary btn-block"><i class="fas fa-shopping-cart"></i>&nbsp;Acquista</button>
                </div>
            </div>

            <div class="modal fade" id="@string.Format(" exampleModalCenter-{0}",prodotto.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">@prodotto.Titolo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="@imgSrc" class="d-block w-100" />
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 border-top ">
                                    <dl class="dl-horizontal mt-3">
                                        <dt>
                                            @Html.DisplayNameFor(model => prodotto.Descrizione)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => prodotto.Descrizione)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>





