@model IEnumerable<NbaEcommerce.Models.Prodotto>

@{
    ViewData["Title"] = "Index";
}

<style>
    .nav-item .active {
        border-bottom: 2px solid #007bff;
    }
</style>

<div class="row mt-2">
    <div class="col-6">
        <h3><strong>Catalogo online</strong></h3>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-3">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form action="IndexCliente" method="post" class="mt-3" id="test">
                    <div class="accordion" id="accordionExample">
                        @foreach (NbaEcommerce.Models.Marchio marchio in ViewBag.marchi)
                        {
                            <button class="btn btn-default col-12" type="button" data-toggle="collapse" data-target="@String.Format(" #{0}",@marchio.Descrizione)" aria-expanded="true" aria-controls="@String.Format(" #{0}",@marchio.Descrizione)">
                                <div class="row border-bottom p-3">
                                    <div class="col-12">
                                        @if (marchio.Descrizione.ToUpper() == "APPLE")
                                        {
                                            <i class="fab fa-apple float-left align-middle mt-1"
                                               style=" margin-top: -10px !important;font-size: 30px;"></i>
                                        }

                                        <span class="align-middle" style=" margin-top: -10px;">@marchio.Descrizione</span>

                                        <i class="fas fa-chevron-right float-right align-middle" style=" margin-top: -2px;"></i>
                                    </div>
                                </div>
                            </button>

                            <div id="@marchio.Descrizione" class="@(marchio.Id == ViewBag.marchioSelezionato ? "collapse show" : "collapse")" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="nav justify-content-center">
                                        <li class="nav-item">
                                            @{
                                                foreach (NbaEcommerce.Models.Dispositivo item in ((List<Dispositivo>)ViewBag.dispositivi).Where(x => x.IdMarchio == marchio.Id).ToList())
                                                {

                                                    <button class="@(item.Id == ViewBag.dispositivoSelezionato ? "active" : "") btn btn-link nav-link btn-default text-dark col-12"
                                                            type="submit" asp-route-marchio="@item.IdMarchio" asp-route-dispositivo="@item.Id"
                                                            asp-route-categoria="@ViewBag.categoriaSelezionata">



                                                        @item.Descrizione
                                                    </button>
                                                }
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-12 card border-left-primary shadow mb-4 " style="        height: 80px">
            <div class="card-body">
                <form id="fv" asp-action="IndexCliente" method="post">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">

                            <button type="submit"
                                    class="btn nav-link btn-link text-dark @(ViewBag.categoriaSelezionata == null ? "active" : "" )"
                                    asp-action="IndexCliente" asp-route-categoria="@null"
                                    asp-route-marchio="@ViewBag.marchioSelezionato"
                                    asp-route-dispositivo="@ViewBag.dispositivoSelezionato">

                                Tutti
                            </button>

                        </li>


                        @foreach (Categoria categoria in (List<Categoria>)ViewBag.categorie)
                        {
                            <li class="nav-item">

                                @if (categoria.Id == ViewBag.categoriaSelezionata)
                                {
                                    <button type="submit" class="btn nav-link btn-link active text-dark" asp-action="IndexCliente" asp-route-categoria="@categoria.Id"
                                            asp-route-marchio="@ViewBag.marchioSelezionato" asp-route-dispositivo="@ViewBag.dispositivoSelezionato">
                                        @categoria.Descrizione
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn nav-link btn-link text-dark" asp-action="IndexCliente" asp-route-categoria="@categoria.Id"
                                            asp-route-marchio="@ViewBag.marchioSelezionato" asp-route-dispositivo="@ViewBag.dispositivoSelezionato">
                                        @categoria.Descrizione
                                    </button>
                                }
                            </li>
                        }

                    </ul>
                </form>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-start">

            @foreach (NbaEcommerce.Models.Prodotto prodotto in Model)
            {
                var base64 = Convert.ToBase64String(prodotto.Immagine.First().Data);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <div class="card ml-3 mb-3 shadow" style="        width: 10rem;
        max-height: 400px">
                    <div style="height: 150px;">
                        <img src="@imgSrc" style="cursor: pointer;height:100%" class="img-fluid" onclick="@string.Format(" $('#exampleModalCenter-{0}').modal('show');",prodotto.Id)" />
                    </div>
                    <div class="card-body text-center" style="        cursor: pointer;" onclick="@string.Format(" $('#exampleModalCenter-{0}').modal('show');",prodotto.Id)">
                        <h6 class="card-title">@prodotto.Titolo</h6>

                        <h5><strong class="ml-2"> @prodotto.PrezzoVendita €</strong></h5>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Aggiungi" asp-controller="Prodotto" asp-route-IdProdotto="@prodotto.Id" class="btn btn-light btn-block"><i class="fas fa-shopping-cart"></i> Aggiungi</a>
                    </div>
                </div>

                <div class="modal fade" id="@string.Format("exampleModalCenter-{0}",prodotto.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">@prodotto.Titolo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="@imgSrc" class="d-block w-100" />
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 border-top ">
                                        <dl class="dl-horizontal mt-3">
                                            <dt>
                                                @Html.DisplayNameFor(model => prodotto.Descrizione)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => prodotto.Descrizione)
                                            </dd>
                                            <dt>
                                                Prezzo
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => prodotto.PrezzoVendita)
                                            </dd>
                                            <dt>
                                                Quantità rimasta
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => prodotto.Quantità)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a asp-action="Aggiungi" asp-controller="Prodotto" asp-route-IdProdotto="@prodotto.Id" class="btn btn-light btn-block"><i class="fas fa-shopping-cart"></i> Aggiungi al carrello</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>





