@model IEnumerable<NbaEcommerce.ViewModels.ViewProdottoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-6">
        <h2>Catalogo</h2>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-outline-dark float-right mt-2">Aggiungi un prodotto</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 mb-4">
        <form asp-action="Index">
            <div class="row">
                <div class="col-3">
                    <input name="categoria" type="text" class="form-control" placeholder="Categoria prodotto" value="@ViewBag.categoria">
                </div>
                <div class="col-3">
                    <input name="marchio" type="text" class="form-control" placeholder="Marchio" value="@ViewBag.marchio">
                </div>
                <div class="col-3">
                    <input type="submit" value="Cerca" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Marchio)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Categoria)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Titolo)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Descrizione)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoVendita)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Attivo)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Quantità)
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marchio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titolo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descrizione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrezzoVendita)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrezzoAcquisto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Attivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantità)
                        </td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Modifica"><i class="fas fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" title="Dettaglio"><i class="fas fa-list-alt"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" title="Elimina" class="text-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


