@model IEnumerable<NbaEcommerce.ViewModels.ViewProdottoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-2">
    <div class="col-6">
        <h3><strong>Catalogo online</strong></h3>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-3">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <h4 class="mb-3">Filtra per</h4>


                <form action="IndexCliente" method="post" class="mt-3" id="test">
                    <h6><small class="text-muted">Categoria</small></h6>
                    <hr />
                    <div class="form-group ml-4">
                        @foreach (NbaEcommerce.Models.Categoria categoria in ViewBag.categorie)
                        {
                            <div class="form-check">
                                <input class="form-check-input gridCheck" type="checkbox" id="gridCheck" @(((String[])ViewBag.categorieSelezionate).Contains(categoria.Id.ToString()) ? "checked" : "") data-id="@categoria.Id" onchange="cambiaListaCategorie()">
                                <label class="form-check-label" for="gridCheck">
                                    @categoria.Descrizione
                                </label>
                            </div>
                        }
                    </div>

                    <h6><small class="text-muted">Marchio</small></h6>
                    <hr />
                    <div class="form-group ml-4">
                        @foreach (NbaEcommerce.Models.Marchio marchio in ViewBag.marchi)
                        {
                            <div class="form-check">
                                <input class="form-check-input gridCheck2" type="checkbox" id="gridCheck2" @(((String[])ViewBag.marchiSelezionati).Contains(marchio.Id.ToString()) ? "checked" : "") data-id="@marchio.Id" onchange="cambiaListaMarchi()">
                                <label class="form-check-label" for="gridCheck">
                                    @marchio.Descrizione
                                </label>
                            </div>
                        }
                    </div>

                    <h6><small class="text-muted">Dispositivi</small></h6>
                    <hr />
                    <div class="form-group ml-4">
                        @foreach (NbaEcommerce.Models.Dispositivo dispositivo in ViewBag.dispositivi)
                        {
                            <div class="form-check">
                                <input class="form-check-input gridCheck2" type="checkbox" id="gridCheck2" @(((String[])ViewBag.dispositiviSelezionati).Contains(dispositivo.Id.ToString()) ? "checked" : "") data-id="@dispositivo.Id" onchange="cambiaListaDispositivi()">
                                <label class="form-check-label" for="gridCheck">
                                    @dispositivo.Descrizione
                                </label>
                            </div>
                        }
                    </div>

                    <h6><small class="text-muted">Prezzo massimo</small></h6>
                    <hr />
                    <div class="form-group text-center">
                        <label id="lblRange" for="formControlRange">100€</label>
                        <input type="range" min="0" max="200" value="100" class="form-control-range" id="formControlRange" oninput="document.getElementById('lblRange').innerHTML = this.value + '€';">
                    </div>

                    <input type="text" id="listaMarchi" name="listaMarchi" value="@(String.Join(";",(String[])ViewBag.marchiSelezionati))" style="display:none" />
                    <input type="text" id="listaCategorie" name="listaCategorie" value="@(String.Join(";",(String[])ViewBag.categorieSelezionate))" style="display:none" />
                    <input type="text" id="listaDispositivi" name="listaDispositivi" value="@(String.Join(";",(String[])ViewBag.dispositiviSelezionati))" style="display:none" />

                    <input type="submit" value="Salva" style="display:none" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-9 row">
        @foreach (NbaEcommerce.ViewModels.ViewProdottoViewModel prodotto in Model)
        {
            var base64 = Convert.ToBase64String(prodotto.Immagine);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <div class="card ml-2 mb-3" style="width: 13rem;height:300px;">
                <div style="height:200px">
                    <img src="@imgSrc" class="card-img-top" />
                </div>
                <div class="card-body text-center">
                    <h6 class="card-title">@prodotto.Titolo</h6>
                    <a title="Dettaglio" class="btn btn-sm btn-outline-primary">Maggiori informazioni</a>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
   
</script>




